CUR_LINK_SM CURSOR CUR_LINK_SM.cur
CUR_LINK_LG CURSOR CUR_LINK_LG.cur

CUR_BREAK_SM CURSOR CUR_BREAK_SM.cur
CUR_BREAK_LG CURSOR CUR_BREAK_LG.cur

CUR_WIRE_SM CURSOR CUR_WIRE_SM.cur
CUR_WIRE_LG CURSOR CUR_WIRE_LG.cur

CUR_LINE_SM CURSOR CUR_LINE_SM.cur
CUR_LINE_LG CURSOR CUR_LINE_LG.cur

CUR_PIN_SM CURSOR CUR_PIN_SM.cur
CUR_PIN_LG CURSOR CUR_PIN_LG.cur

CUR_TEXT_SM CURSOR CUR_TEXT_SM.cur
CUR_TEXT_LG CURSOR CUR_TEXT_LG.cur

HAND_OPEN_SM CURSOR HAND_OPEN_SM.cur
HAND_OPEN_LG CURSOR HAND_OPEN_LG.cur
